.functional {
  font-family: "Oswald-regular", Arial, Helvetica;
  color      : #FFFFFF;

  outline    : 2px solid black;
}

.functional__title {
  font-size  : 36px;
  line-height: 36px;
  text-align : center;
  padding-top: 27px;
}

.functional__slogan {
  font-size     : 14px;
  line-height   : 14px;
  text-transform: uppercase;
  text-align    : center;
}

.functional__cat {
  position: absolute;
  top     : 185px;
  z-index : -1;
}

.functional__chiken {
  padding-top: 10px;
  padding-left: 10px;
}

.functional__program {
  font-size     : 14px;
  line-height   : 18px;
  text-transform: uppercase;
  padding: 7px 44px 7px 44px;
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;
}
