.programm {
  outline: 2px solid black;
}

.programm__list {
  padding: 0;
}

.programm__item {
  background-color: #F2F2F2;
}

.programm__title {
  font-size     : 24px;
  line-height   : 37px;
  text-transform: uppercase;
  color         : #000000;

  padding-left: 91px;
  padding-top : 35px;
}

.programm__text {
  padding-left  : 20px;
  // padding-bottom: 45px;
}

.programm__text--slim {}

.programm__text--big {}

.programm__link {
  font-size     : 16px;
  line-height   : 16px;
  text-transform: uppercase;
  padding-left: 19px;
  padding-top: 42px;
  padding-bottom: 22px;
}
